<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connectBdd" connectionString="Server=localHost; userid=nialee; password='azerty;123'; Database=funenbulles_2019; SslMode=none" providerName="Mysql.Data.MysqlClient"/>
  </connectionStrings>
</configuration>
